<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/avg"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/avg"
        android:supportsRtl="true"
        android:theme="@style/Theme.AVS_EKYC"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.SocietyImageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RelatedPersonImageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.IndivdualPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CustomerDataActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.GetCustomerInformationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ShowPendingListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>